@font-face {
	font-family: 'Futura New';
	font-display: swap;
	src: url(../fonts/FuturaNewBook-Reg.woff2) format('woff2'),
		url(../fonts/FuturaNewBook-Reg.woff) format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Futura New';
	font-display: swap;
	src: url(../fonts/FuturaNewLight-Reg.woff2) format('woff2'),
		url(../fonts/FuturaNewLight-Reg.woff) format('woff');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Futura New';
	src: url(../fonts/FuturaNewMedium-Reg.woff2) format('woff2'),
		url(../fonts/FuturaNewMedium-Reg.woff) format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}
